@inherits LayoutComponentBase

<div class="content px-4">
    <NavMenu />
    <div class="row justify-content-start">
        <div class="col-8">
            @Body
        </div>
        <div class="col-4">
            <InlichtingenHQ />
        </div>
    </div>
</div>
